# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# Ignore IntelliJ project files
*.iml
tool/.idea/
tool/__pycache__/

# pipenv virtual environment cache
.venv

node_modules
.DS_Store
/public
/public_metadata_nook_app.json
/.firebase
/webapp/web/assets/firebase_constants.json
