service cloud.firestore {
  match /databases/{database}/documents {
    function isEmailVerified() {
      return
        request.auth != null &&
        request.auth.token.email_verified &&
        (request.auth.token.email.matches(".*@africasvoices.org$") ||
        request.auth.token.email.matches(".*@lark.systems$"));
    }

    match /{collection}/{docId} {
      allow read, write: if
        isEmailVerified();

      match /{nestedCollection2}/{nestedDocId2} {
        allow read, write: if
          isEmailVerified() &&
          (collection != "tables" ||
          docId != "uuid-table");
      }
    }
  }
}
