body {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

header {
	flex: 0 0 auto;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 16px;
}

main {
	flex: 1 1 auto;
	display: flex;
	/* width: 100%; */
	margin-top: 16px;
	overflow: hidden;
}

.message-list {
    flex: 0 0 auto;
    width: 300px;
    overflow: scroll;
}

.message-panel {
    flex: 1 1 auto;
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.action-panel {
    width: 300px;
}

.summary-message {
    padding: 8px 16px;
    border-top: 1px solid lightgray;
}

.summary-message:hover {
    background: #eee;
}

.message.message--incoming {
    background: #f3f3f3;
    margin-right: 24px;
}

.message__translation {
    font-size: .8em;
    padding-left: 16px;
    color: #666;
}

.message {
    margin: 4px;
    padding: 8px;
    border-radius: 6px;
    display: inline-block;
}

.message.message--outgoing {
    background: #fbfbfb;
    float: right;
}

.messages {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.reply-box {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.reply-box__textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 50px;
    flex: 1 1 auto;
    padding: 8px;
    overflow: scroll;
}

.reply-box__send-button {
    flex: 0 0 auto;
    width: 38px;
    line-height: 38px;
    margin: 8px;
    padding: 6px;
    border-radius: 8px;
}

.reply-box__send-button:hover {
    background: #eee;
}

.label {
    font-size: 12px;
    display: inline-block;
    background: gold;
    padding: 0px 2px 1px 8px;
    border-radius: 10px;
}

span.label__remove {
    padding: 0 4px 1px;
    border: 1px solid #999;
    background: #999;
    border-radius: 10px;
    margin-left: 4px;
    opacity: 0.4;
    font-size: 10px;
}

.message-summary {
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #ddd;
}

.message-summary__id {
    font-size: 18px;
}

.message-summary__demographics {
    color: #666;
}
