
.action-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.action {
  margin: 4px;
  padding: 4px 6px;
  border-radius: 6px;
  display: flex;
  position: relative;
}

.action:hover {
  background: #eee;
}

.action__description {
  flex:  1 1 auto;
}

.action__translation {
  font-size: .8em;
  padding-left: 16px;
  color: #666;
}

.action__button,
.new-message-box__send-button {
  flex: 0 0 auto;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #bbb;
  opacity: 0;
  cursor: pointer;
  align-self: start;
}

.action__button--float {
  background: white;
  box-shadow: 0 0 5px 4px #eee;
  position: absolute;
  right: 0;
}

.new-message-box__send-button {
  height: 50px;
  line-height: 40px;
}

.action:hover .action__button,
.new-message-box__send-button {
  opacity: 1;
}

.action__button:hover {
  background: #ddd;
}

.action__button:active {
  background: #ccc;
}

.action__shortcut {
  flex: 0;
  align-self: start;
  padding-right: 6px;
}

.action__shortcut:after {
  content: ']';
}

.action__shortcut:before {
  content: '[';
}

.add-action__button {
  margin-left: 54px;
  font-size: 12px;
  padding: 4px;
  color: #999;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

.add-action__button:hover,
.add-action__commit-button:hover {
  background: #eee;
}

.add-action__button:active,
.add-action__commit-button:active {
  background: #ddd;
}

.add-action__box {
  margin: 6px 12px 0 54px;
  display: flex;
  flex-direction: column;
}

.add-action__textarea,
.add-action__translation {
  border: 1px solid #ddd;
  min-height: 20px;
  padding: 4px;
  color: #555;
  font-size: 12px;
  background: #fafafa;
  margin-right: 6px;
  margin-bottom: 6px;
}

.add-action__translation-label {
  float: left;
  font-size: .8em;
  color: #666;
  padding: 4px;
  padding-left: 0;
}

.add-action__commit-button {
  flex: 0 0 auto;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  align-self: start;
}
