@charset "utf-8";

#banner {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;

  text-align: center;
  color: #e0e0e0;
  background: #424242;

  /* A little animation on hide and show */
  visibility: visible;
  transition: all 0.2s;
}

#banner.hidden {
  height: 0;
  visibility: hidden;
}

#banner .contents {
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  transition: all 0.2s;
}

#banner.hidden .contents {
  height: 0;
}
