.message {
  border-radius: 6px;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}

.message.message--outgoing {
  justify-content: flex-end;
  margin-left: 24px;
}

.message.message--incoming {
  margin-right: 24px;
}

.message__bubble {
  margin: 4px;
  padding: 6px;
  border-radius: 6px;
  flex: 0 1 auto;
  flex-wrap: inherit;
  word-break: break-word;
  overflow: hidden;
}

.message.message--incoming .message__bubble {
  background: #f3f3f3;
  border: 2px solid #f3f3f3;
}

.message.message--outgoing .message__bubble {
  background: #fbfbfb;
  border: 2px solid #fbfbfb;
}

.message.message--selected .message__bubble {
  border: 2px solid #ccc;
}

.message.message--failed .message__bubble {
  text-decoration: line-through red;
}

.message__datetime {
  font-size: .8em;
  color: #666;
}

.message__translation {
  font-size: .8em;
  padding-left: 16px;
  color: #666;
}

.message__tags {
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 auto;
}

.status-line {
  margin-right: 6px;
  margin-left: 6px;
  text-align: right;
  white-space: nowrap;
  color: #999;
}

.status-line-warning {
  color: #c8c832;
}
