body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    margin: 0px;
}

main {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
}

header {
    height: 43px;
}

.content {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    width: 100vw;
    max-width: 800px;
    overflow-y: auto;
    margin: 50px auto 0;
}

.config-page-options {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 12px;
    row-gap: 12px;
}

.config-page-option {
    padding: 8px;
}

.config-page-option__description {
    padding: 8px;
}

.config-page-option__action {
    min-width: 140px;
}

.tile-container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    width: 100vw;
    max-width: 800px;
    overflow-y: auto;
    margin: 50px auto 0;
}

.tile {
    padding: 16px;
    margin: 16px;
    width: 200px;
    height: 120px;
    display: block;
    text-decoration: none;
    background: var(--white);
    border: 1px solid var(--gray);
    color: inherit;
}

.tile:hover {
    background: var(--lightest-gray);
}

.tile:active {
    background: var(--lighter-gray);
}

.tile .tile__title {
    font-weight: bold;
}

.tile .tile__subtitle {
    font-size: .8em;
}
