body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

header {
    flex: 0 0 auto;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

main {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
}

.message-list {
    flex: 0 0 auto;
    width: 300px;
    overflow: scroll;
    border-right: 1px solid #ddd;
}

.message-panel,
.reply-panel,
.tag-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.reply-panel,
.tag-panel {
    border-left: 1px solid #ddd;
}


.panel-title {
    text-align: center;
    padding: 12px;
    color: #666;
}

.summary-message {
    padding: 8px 16px;
    border-bottom: 1px solid lightgray;
    border-left: 5px solid #fff;
}

.summary-message:hover {
    background: #eee;
}

.summary-message.summary-message--selected {
    border-left: 5px solid #555;
}


.messages {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 0 16px;
    border-top: 1px solid #ddd;
}

.message-summary {
    text-align: center;
    padding: 4px;
}

.message-summary__id {
    font-size: 18px;
}

.message-summary__demographics {
    color: #666;
}

.message-summary__tags {
    display: flex;
    place-content: center;
}

.notes-box {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.notes-box__textarea {
    border-top: 1px solid #ddd;
    height: 150px;
    flex: 1 1 auto;
    padding: 8px;
    overflow: scroll;
    color: #555;
    font-size: 12px;
    background: #fafafa;
}
