body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    margin: 0px;
}

main {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
}

header {
    height: 43px;
}

.content {
    display: grid;
    width: 100vw;
    overflow-y: auto;
    margin-top: 50px;
}

.config-page-options {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 12px;
    row-gap: 12px;
}

.config-page-option {
    padding: 8px;
}

.config-page-option__description {
    padding: 8px;
}

.config-page-option__action {
    min-width: 140px;
}
