.tag {
  font-size: 12px;
  font-style: italic;
  display: flex;
}

.tag--green .tag__name {
  color:  darkgreen;
  font-weight: bold;
}
.tag--yellow .tag__name {
  color: darkorange;
  font-weight: bold;
}
.tag--red .tag__name {
  color: crimson;
  font-weight: bold;
}
.tag--important .tag__name {
  border-color: crimson;
  background-color: crimson;
  color: white;
}

.tag__name {
  padding: 2px 5px;
  margin: 1px 0;
  border-radius: 2px;
  border: 1px dashed #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.tag__remove {
  width: 16px;
  height: 16px;
  margin: 1px 2px 1px 2px;
  padding: 3px 0;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  cursor: pointer;
}

.tag__remove:before,
.tag__remove:after {
  position: relative;
  left: 7px;
  top: 1px;
  content: ' ';
  height: 14px;
  width: 1px;
  background-color: #ccc;
  display: block;
}

.tag__remove:before {
  transform: rotate(45deg);
}

.tag__remove:after {
  top: -13px;
  transform: rotate(-45deg);
}

.tag:hover .tag__remove {
  opacity: 0.7;
}

.tag__remove:hover:before,
.tag__remove:hover:after {
  background-color: #888;
}

.tag__remove:active:before,
.tag__remove:active:after {
  background-color: #333;
}
