[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
katikati-pylib = {git = "git@github.com/larksystems/Katikati-PyLib.git", editable = true, ref = "12be4e4869eb46195aaa6799f361511c122cefa9"}
CoreDataModules = {git = "https://www.github.com/AfricasVoices/CoreDataModules", editable = true}
google-cloud-storage = "*"
google-cloud-firestore = ">=1.6.0"
google-cloud-pubsub = "*"
google-cloud = "*"
firebase_admin = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
