[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
katikati-pylib = {git = "git@github.com/larksystems/Katikati-PyLib.git", editable = true, ref = "47973a22827e9e4ec05e5f72a68b9cbed7440f72"}
engine-pylib = {git = "git@github.com/larksystems/Engine-PyLib.git", editable = true, ref = "6d0db47984405b485cda058b6d2b4973727abcff"}
CoreDataModules = {git = "https://www.github.com/AfricasVoices/CoreDataModules", editable = true}
google-cloud-storage = "*"
google-cloud-firestore = ">=1.6.0"
google-cloud-pubsub = "*"
google-cloud = "*"
firebase_admin = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
