[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "https://www.github.com/AfricasVoices/CoreDataModules",editable = true}
pytz = "*"
python-dateutil = ">=2.8.0"  # Need this minimum so that isoparse handles T24:00:00 correctly.
google-cloud-storage = "*"
google-cloud-firestore = "*"
google-cloud-pubsub = "*"
google-cloud = "*"
firebase_admin = "*"
grpcio = "*"
google-cloud-translate = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
