@charset "utf-8";

/* A simple x button to add a new tag */

.button--remove {
  width: 16px;
  height: 16px;
}

.button--remove:before,
.button--remove:after {
  position: relative;
  left: 7px;
  top: 1px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #ccc;
  display: block;
}

.button--remove:before {
  transform: rotate(45deg);
}

.button--remove:after {
  top: -13px;
  transform: rotate(-45deg);
}

.tag:hover .button--remove {
  opacity: 0.7;
}

.button--remove:hover:before,
.button--remove:hover:after {
  background-color: #888;
}

.button--remove:active:before,
.button--remove:active:after {
  background-color: #333;
}

/* A simple plus button to add a new tag */

.button--add {
  width: 16px;
  height: 16px;
}

.button--add:before,
.button--add:after {
  position: relative;
  left: 7px;
  top: 1px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #ccc;
  display: block;
}

.button--add:before {
  transform: rotate(90deg);
}

.button--add:after {
  top: -13px;
}

.message__tags:hover .button--add {
  opacity: 0.7;
}

.button--add:hover:before,
.button--add:hover:after {
  background-color: #888;
}

.button--add:active:before,
.button--add:active:after {
  background-color: #333;
}

/* A simple tick button to add a new tag */

.button--confirm {
  width: 16px;
  height: 16px;
  margin: 2px;
}

.button--confirm:before,
.button--confirm:after {
  position: relative;
  left: 7px;
  top: 1px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #ccc;
  display: block;
}

.button--confirm:before {
  left: 10px;
  height: 12px;
  transform: rotate(40deg);
}

.button--confirm:after {
  left: 4px;
  top: -7px;
  height: 7px;
  transform: rotate(310deg);
}

.button--confirm:hover:before,
.button--confirm:hover:after {
  background-color: #888;
}

.button--confirm:active:before,
.button--confirm:active:after {
  background-color: #333;
}


/* A simple pencil button to edit something */

.button--edit {
  width: 16px;
  height: 16px;
  opacity: 0.6;
  margin: 2px;
}

.button--edit:before {
  content: '✎';
  display: block;
}