.configuration-view {
  max-width: 750px;
  margin: 0 auto;
  width: 750px;
  padding: 15px 0 90px 0;
}

.configuration-view__title {
  font-size: large;
  font-weight: bold;
  padding: 30px 0 15px;
}

.configuration-actions {
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.configuration-actions.sticky {
  position: sticky;
  bottom: 0;
  text-align: center;
  margin-top: 15px;
  border: 1px solid #dddddd;
}

.configuration-actions__save-action {
  padding: 10px 15px;
  background-color: #499398;
  color: #ffffff;
  border: none;
}

.configuration-actions__save-action:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.configuration-actions__save-action__status {
  font-weight: 400;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  color: #666;
  margin-left: 10px;

  /* A little animation on hide and show */
  visibility: visible;
  transition: all 0.2s;
}


.standard-messages-group {
  position: relative;
  padding: 15px;
  border: 1px solid #ddd;
  border-bottom: none;
}

.standard-messages-group:first-child {
  margin-top: 15px;
}

.standard-messages-group:last-child {
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.standard-messages-group__title {
  font-weight: 600;
  display: inline-block;
  padding: 0 6px;
  min-width: 30px;
  margin: 0 2px;
}

.standard-messages-group__title:empty:not(:focus):before {
  content: attr(title);
  font-weight: 300;
  font-style: italic;
}

.standard-message {
  display: grid;
  grid-template-columns: 1fr 1fr 16px;
  grid-gap: 5px;
  position: relative;
  margin-bottom: 15px;
}

.standard-messages-add__button {
  margin-top: 15px;
}

.message {
  position: relative;
}

.message__text {
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 6px;
  min-height: 96px;
  margin-bottom: 0px;
  width: 100%;
  font: inherit;
  resize: none;
  box-sizing: border-box;
  vertical-align: top;
}

.message__text--alert {
  border-color: #fa8072;
  outline-color: #fa8072;
}

.message__length-indicator {
  opacity: 0.5;
  font-size: 0.7em;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 2px;
}

.message__length-indicator--alert {
  opacity: 1;
  color: #fa8072;
  outline-color: #fa8072;
  font-weight: bold;
}
