body {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    margin: 0px;
}

main {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
}

.content {
    display: grid;
    width: 100vw;
    overflow-y: auto;
    margin-top: 50px;
}
