body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    margin: 0px;
}

main {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
}

.content {
    display: grid;
    width: 100vw;
    overflow-y: auto;
    margin-top: 50px;
}

.editable-widget {
    display: flex;
    align-items: center;
}

.editable-widget .button {
    opacity: 0;
}

.editable-widget.editable-widget--always-show-buttons .button {
    opacity: 0.3;
}

.editable-widget:hover .button,
.editable-widget .button:hover {
    opacity: 1;
}
