@charset "utf-8";

.tag {
  position: relative;
}

.tags-group__tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 10px;
  margin-bottom: 12px;
}

.tag .menu__icon {
  background-color: none;
  box-shadow: none;
}

.tag .menu__item {
  display: block;
  padding: 4px 8px;
  line-height: 1.2;
}

.tooltip {
  position: absolute;
  top: 100%;
  width: 300px;
  max-height: 300px;
  overflow-y: scroll;
  background: white;
  box-shadow: 0px 0px 20px 0px var(--black-10);
  border: 1px solid var(--black-10);
  z-index: 3;
  padding: 7px;
  font-size: .8em;
  font-style: normal;
}

.tooltip__title {
  font-weight: bold;
  color: var(--primary-text-color);
  cursor: pointer;
}

.tooltip__messages {
  display: flex;
  flex-wrap: wrap;
}

.tooltip__placeholder {
  color: var(--dark-gray);
  font-style: italic;
  padding: 2px 4px;
}

.tooltip__message {
  flex: 1 1 auto;
  margin: 3px;
  padding: 2px 4px;
  background: var(--default-background-color);
  border-radius: 5px;
  color: var(--primary-text-color);
  cursor: pointer;
  text-decoration: none;
}

.tooltip__message:hover {
  background: var(--lighter-background-color);
}

.dropzone--active {
  border: 1px dashed var(--default-border-color);
  background-color: var(--lighter-background-color);
}

.text-edit.unsaved::before {
  content: '•';
  color: var(--orange);
}