@charset "utf-8";

.tag {
  position: relative;
}

.tags-group__tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 10px;
  margin-bottom: 12px;
}

.tooltip {
  position: absolute;
  top: 100%;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  background: white;
  box-shadow: 0px 0px 20px 0px var(--black-10);
  border: 1px solid var(--black-10);
  z-index: 3;
  padding: 7px;
  font-size: .8em;
  font-style: normal;
}

.tooltip__title {
  font-weight: bold;
}

.tooltip__messages {
  display: flex;
  flex-wrap: wrap;
}

.tooltip__message {
  flex: 1 1 auto;
  margin: 3px;
  padding: 2px 4px;
  background: var(--default-background-color);
  border-radius: 5px;
}

.dropzone--active {
  border: 1px dashed var(--default-border-color);
  background-color: var(--lighter-background-color);
}
