@charset "utf-8";

.message {
  border-radius: 6px;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}

.message.message--outgoing {
  justify-content: flex-end;
  margin-left: 24px;
}

.message.message--incoming {
  margin-right: 24px;
}

.message__bubble {
  margin: 4px;
  padding: 6px;
  border-radius: 2px;
  flex: 0 1 auto;
  flex-wrap: inherit;
  word-break: break-word;
  overflow: hidden;
  cursor: default;
}

.message.message--incoming .message__bubble {
  background-color: var(--default-background-color);
  border: 1px solid var(--default-border-color);
}

.message.message--outgoing .message__bubble {
  background-color: var(--lighter-background-color);
  border: 1px solid var(--lighter-border-color);
}

.message.message--selected .message__bubble,
.message.message--selected:hover .message__bubble {
  border: 1px dashed var(--selection-color);
}

.message.message--pending .message__bubble {
  font-style: italic;
  color: var(--darker-gray);
}

.message__bubble .message__status {
  font-size: 0.8em;
  margin-bottom: 6px;
}

.message.message--pending .message__bubble .message__status {
  color: var(--extra-dark-gray);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: tagPendingAnimation;
}

@keyframes tagPendingAnimation {
  50% {
    color: var(--gray);
  }
}

.message.message--failed .message__bubble {
  text-decoration: line-through var(--red);
}

.message.message--failed .message__bubble .message__status {
  color: var(--light-red);
  text-decoration: none;
  display: inline-block;
}

.message.message--unknown .message__bubble {
  font-style: italic;
  color: var(--darker-gray);
}

.message__datetime {
  font-size: .8em;
  color: var(--dark-gray);
}

.message__translation {
  font-size: .8em;
  padding-left: 16px;
  color: var(--dark-gray);
}

.message__translation:empty::before {
  content: 'Translation';
  font-style: italic;
  color: var(--black-10);
}

.message__tags {
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 auto;
  height: 100%;
}

.message__tags.message__tags--outgoing {
  align-items: flex-end;
}

.status-line {
  margin-right: 6px;
  margin-left: 6px;
  text-align: right;
  white-space: nowrap;
  color: var(--dark-gray);
}

.status-line-warning {
  color: #c8c832;
}

.message.message--suggested {
  font-size: 0.8em;
  background: var(--lighter-background-color);
  border: 1px dashed var(--selection-color);
  margin: 4px 0;
}

.suggested-message-panel {
  display: flex;
  align-self: flex-end;
}

.suggested-message-panel__actions {
  flex: 0 0 auto;
  align-self: center;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid var(--default-border-color);
  margin: 8px 24px 8px 8px;
  position: relative;
}

.suggested-message-panel__action {
  font-size: 10px;
  align-self: center;
  margin: 2px 0;
  padding: 1px 0;
  text-decoration-line: underline;
  cursor: pointer;
}

.suggested-message-panel__action.action--delete {
  font-size: 9px;
  text-decoration-line: none;
}

.suggested-message-panel__action.action--delete:hover {
  color: var(--light-red);
}

.suggested-message-panel__messages {
  margin: 0 0 12px 56px;
  max-height: 100px;
  overflow: scroll;
}
