@charset "utf-8";

.message {
  border-radius: 6px;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}

.message.message--outgoing {
  justify-content: flex-end;
  margin-left: 24px;
}

.message.message--incoming {
  margin-right: 24px;
}

.message__bubble {
  margin: 4px;
  padding: 6px;
  border-radius: 6px;
  flex: 0 1 auto;
  flex-wrap: inherit;
  word-break: break-word;
  overflow: hidden;
}

.message.message--incoming .message__bubble {
  background: #f3f3f3;
  border: 2px solid #f3f3f3;
}

.message.message--outgoing .message__bubble {
  background: #fbfbfb;
  border: 2px solid #fbfbfb;
}

.message.message--selected .message__bubble {
  border: 2px solid #ccc;
}

.message.message--failed .message__bubble {
  text-decoration: line-through red;
}

.message.message--pending .message__bubble {
  font-style: italic;
  color: #666666;
}


.message__datetime {
  font-size: .8em;
  color: #666;
}

.message__translation {
  font-size: .8em;
  padding-left: 16px;
  color: #666;
}

.message__tags {
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 auto;
  height: 100%;
}

.message__tags .tag {
  margin-bottom: 4px;
}

.message__tags .tag:last-child {
  margin-bottom: 0;
}

.status-line {
  margin-right: 6px;
  margin-left: 6px;
  text-align: right;
  white-space: nowrap;
  color: #999;
}

.status-line-warning {
  color: #c8c832;
}


.new-message-box__textarea {
  resize: none;
  border: none;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  background: none;
}

.suggested-message-box {
  height: 50px;
  margin: 12px 24px 12px 56px;
  border: 1px dashed #AAAAAA;
  box-sizing: border-box;
  display: flex;
}

.message.message--suggested {
  font-size: 0.8em;
  background: #fbfbfb;
  border: 1px dashed #000;
  margin: 4px 0;
}

.suggested-message-panel {
  display: flex;
  align-self: flex-end;
}

.suggested-message-panel__actions {
  flex: 0 0 auto;
  align-self: center;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #bbb;
  margin: 8px 24px 8px 8px;
  position: relative;
}

.suggested-message-panel__action {
  font-size: 10px;
  align-self: center;
  margin: 2px 0;
  padding: 1px 0;
  text-decoration-line: underline;
  cursor: pointer;
}

.suggested-message-panel__action.action--delete {
  font-size: 9px;
  text-decoration-line: none;
}

.suggested-message-panel__action.action--delete:hover {
  color: salmon;
}

.suggested-message-panel__messages {
  margin: 0 0 12px 56px;
  max-height: 100px;
  overflow: scroll;
}
