@charset "utf-8";

body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    padding: 6px;
}

.nook-column-wrapper {
    height: calc(100vh - 42px);
    border: 1px solid #ccc;
    overflow-y: scroll;
    flex-basis: 0;
    border-radius: 3px;
}

.nook-column-wrapper--conversation-list {
    flex-grow: 1;
    margin-right: 6px;
}

.nook-column-wrapper--messages-view {
    flex-grow: 2;
    margin-right: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.nook-column-wrapper--tabs-view {
    flex-grow: 1;
    border: none;
}

.conversation-list-panel,
.conversation-panel,
.reply-panel,
.tag-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.conversation-panel {
    position: relative;
}

/* Conversation list panel */

.conversation-list {
    flex: 1;
    overflow-y: scroll;
}

.conversation-filter {
    padding: 8px 16px 8px 21px;
    border-top: 1px solid #ddd;
    background: #fafafa;
}

.conversation-filter .tooltip-icon .fas {
    font-size: 0.8em;
    margin-left: 6px;
    margin-right: 12px;
    color: var(--gray);
}

.tags-container,
.tags-menu__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.tags-menu {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

.conversation-filter:hover .tags-menu {
    visibility: visible;
}

.conversation-filter.conversation-filter--id-filter {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.conversation-filter.conversation-filter--id-filter .conversation-filter__description {
    flex: 0 0 auto;
    margin-right: 7px;
}
.conversation-filter.conversation-filter--id-filter .conversation-filter__input {
    resize: none;
    border: 1px solid #ddd;
    background: #ffffff;
    padding: 0 4px;
    height: 24px;
    overflow: scroll;
    color: #555;
    font-size: 12px;
    flex: 1 1 auto;
    min-width: 80px;
}

.tags-menu__box {
    position: absolute;
    top: auto;
    bottom: 100%;
    left: 130px;
    box-shadow: 0px 0px 2px 1px #ddd;
    background: white;
    margin: 16px;
    z-index: 5;
}

.tags-menu__box .accordion {
    margin-top: 0;
    margin-bottom: 0;
}

.tags-menu__buttress {
    width: 50px;
    height: 30%;
    opacity: 0;
    position: absolute;
    left: -50px;
    bottom: 0;
    pointer-events: none;
}

.conversation-filter:hover .tags-menu__buttress path {
    pointer-events: all;
}

.tags-menu__wrapper {
    width: 450px;
    height: auto;
    max-height: 400px;
    overflow-y: scroll;
}

.tags-menu__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 138px);
    grid-gap: 4px 10px;
}

.panel-title {
    text-align: left;
    padding: 12px 8px;
    color: #666;
    border-bottom: 1px solid #ccc;
}

.panel-instruction {
    font-size: 0.9em;
    padding: 2px 6px;
    font-style: italic;
}

.panel-title.panel-title--multiple-cols {
    display: flex;
    justify-content: space-between;
}

.conversation-list-header {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.conversation-list-header .far,
.conversation-list-header .fas {
    margin-right: 6px;
}

.conversation-sort-order__select {
    max-width: 150px;
}

.conversation-list-header__checkbox {
    margin: 0 16px 0 0;
}

.conversation-list-header__sort-order {
    float: right;
}

.select-conversation-list-message {
    margin: auto;
    padding-top: 50px;
    font-weight: bold;
}

.conversation-list__user-indicators {
    position: absolute;
    top: 8px;
    right: 8px;
}

.header__other-users {
    align-self: center;
}

.user-indicators {
    display: flex;
}

.messages {
    flex: 1;
    overflow: auto;
}

.messages__new-message-indicator {
    position: absolute;
    left: 4px;
    background-color: var(--dark-gray);
    display: inline-block;
    padding: 2px 12px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.messages__new-message-indicator:hover {
    filter: brightness(var(--hover-brightness));
}

.conversation-summary {
    text-align: center;
    padding: 4px;
    border: 1px solid var(--white);
    border-bottom: 1px solid #ccc;
}

.conversation-summary--selected {
    border: 1px dashed var(--selection-color);
}

.conversation-summary__title {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    place-content: center;
}

.conversation-summary__id {
    flex: 0 0 auto;
    font-size: 18px;
}

.conversation-summary__id-copy {
    flex: 0 0 auto;
    background: url(/assets/icon-copy.png);
    background-size: contain;
    width: 16px;
    height: 16px;
    margin: 6px;
    opacity: 0.7;
    visibility: hidden;
    cursor: pointer;
}

.conversation-summary__title:hover .conversation-summary__id-copy {
    visibility: visible;
}

.conversation-summary__id-copy:hover {
    background-color: #ddd;
}

.conversation-summary__warning {
    flex: 0 0 auto;
    background: url(/assets/icon-warning.png);
    background-size: contain;
    width: 16px;
    height: 16px;
    margin: 6px;
    cursor: pointer;
}

.conversation-summary__demographics {
    color: #666;
}

.conversation-summary__tags {
    display: flex;
    flex-wrap: wrap;
    max-height: 90px;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}

.messages-date-separator__wrapper {
    text-align: center;
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
}

.messages-date-separator__wrapper::before {
    content: '';
    position: absolute;
    width: 90%;
    border-top: 1px solid var(--lighter-border-color);
    left: 5%;
    top: 50%;
    z-index: -1;
}

.messages-date-separator {
    background: var(--default-background-color);
    color: var(--dark-gray);
    padding: 2px 4px;
    font-size: 0.8em;
    border-radius: 2px;
}

.notes-panel {
    height: 100%;
}

.notes-box {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.notes-box__textarea {
    resize: none;
    border: none;
    border-top: 1px solid #ddd;
    flex: 1 1 auto;
    padding: 8px;
    overflow: scroll;
    color: #555;
    font-size: 12px;
    background: #fafafa;
}

.conversation-list-select-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 6px;
}

.conversation-list-select-label {
    padding-right: 5px;
}

.conversation-list-select {
    flex: 0 1 auto;
}

.flex-fill-gap {
    flex: 1 1 auto;
}

.turnline-panel {
    display: grid;
    grid-auto-columns: minmax(200px, 300px);
    grid-auto-flow: column;
    grid-gap: 0;
    justify-content: start;
    overflow-x: scroll;
    padding-top: 6px;
    height: 100%;
}
