@charset "utf-8";

.automated-action-indicator.relative {
  position: relative;
  top: -6px;
  left: -8px;
}

.automated-action-indicator.absolute {
  position: absolute;
  top: -10px;
  right: -8px;
}

/* A simple plus button to add a new tag */
.tag__add .button.button--icon {
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 1px dotted var(--default-border-color);
}

.tag__add .button.button--icon .fas {
  color: var(--gray);
}

.tag__add:hover .button.button--icon {
  border-color: var(--dark-border-color);
  background-color: var(--default-background-color);
}

.tag__add:hover .button.button--icon .fas {
  color: var(--darkest-gray);
}

/* hover-only buttons */

.hover-parent .button--hover-only {
  opacity: 0;
}
.hover-parent:hover .button--hover-only {
  opacity: 1;
}
